<h1>Avatars</h1>

<%= @avatars.each do |avatar| %>
  <h2><a href="/avatars/<%= avatar.id %> <%= avatar.name %><%= avatar.image %>  </h2>
  <%= render partial: "avatar", locals: { avatar: avatar } %>
<% end %>
