<h1>Manage the Graffiti Image Submission</h1>

<%= form_tag "/images/#{@image.id}", method: :patch do %>
  
  <div>
    <%= label_tag :image, "Describe the graffiti: " %>
    <%= text_field_tag :image %>
  </div>

  <div>
    <%= label_tag :location, "Where's the graffiti located? " %>
    <%= text_field_tag :location %>
  </div>
  <div>
    <%= submit_tag "Update the Info" %>
  </div>
<% end %>