<h1>Manage the Graffiti Image Submission</h1>

<%= form_tag "/images/#{@image.id}", method: :patch do %>  
  <div>
    <%= label_tag :image, "Describe the graffiti: " %>
    <%= text_field_tag :image, @image.image %>
  </div>
  <br>
  <div>
    <%= label_tag :location, "Where's the graffiti located? " %>
    <%= text_field_tag :location, @image.location %>
  </div>
  <br>
  <% if current_user && current_user.admin%>   
  <div>
    <%= label_tag :assign_to_gang, "Assign to a gang " %>
    <%= select_tag :assign_to_gang, options_for_select([
                                                "Please Assign",
                                                "Adidas Boys",
                                                "Almighty Simon City Royals",
                                                "Ashland Vikings",
                                                "Assyrian Kings",
                                                "Bishops",
                                                "Black Disciples",
                                                "Conservative Vice Lords",
                                                "Crips",
                                                "Familia Stones",
                                                "Gangster Disciples",
                                                "Imperial Gangsters",
                                                "Imperial Insane Vice Lords",
                                                "Insane Deuces",
                                                "Insane Unknowns",
                                                "La Raza",
                                                "Latin Angels",
                                                "Latin Brothers",
                                                "Latin Counts",
                                                "Latin Dragons",
                                                "Latin Jivers",
                                                "Latin Kings",
                                                "Latin Pachucos",
                                                "Latin Souls",
                                                "Maniac Latin Disciples",
                                                "Mickey Cobras",
                                                "Party People", 
                                                "Satan Disciple",
                                                "Simon City Royals",
                                                "Spanish Gangster Disciple",
                                                "Spanish Lords",
                                                "Two Two Boys", 
                                                ], 
                                                @image.assign_to_gang) %>
  </div>
  <br>    
  <div>
    <%= label_tag :status, "What's the status? " %>
    <%= select_tag :status, options_for_select([
                                                "Open", 
                                                "Completed",
                                                "Duplicate"],
                                                @image.status) %>
  </div>
  <br>  
  <div>
    <%= label_tag :surface_location, "Where's the surface located? " %>
    <%= select_tag :surface_location, options_for_select([
                                                          "Please Select", 
                                                          "Alley",
                                                          "Bench",
                                                          "Door",
                                                          "Dumpster",
                                                          "Expressway",
                                                          "Fence",
                                                          "Front",
                                                          "Garage",
                                                          "Garbage Cart",
                                                          "Hydrant",
                                                          "Mailbox",
                                                          "Newspaper Box",
                                                          "Overpass",
                                                          "Phone",
                                                          "Pole",
                                                          "Rear",
                                                          "Side",
                                                          "Sign",
                                                          "Traffic Control",
                                                          "Viaduct"],
                                                          @image.surface_location)%>
  </div>
  <br>
  <div>
    <%= label_tag :type_of_surface, "What's the type of surface? " %>
    <%= select_tag :type_of_surface, options_for_select([
                                                        "Please Select", 
                                                        "Aluminum Siding",
                                                        "Asphalt",
                                                        "Brick - Painted",
                                                        "Brick - Unpainted",
                                                        "Cement(Sidewalk, Alley, Wall, Curb)",
                                                        "Glass",
                                                        "Limestone",
                                                        "Marble/Granite",
                                                        "Metal",
                                                        "Metal - Painted",                   
                                                        "Metal - Unpainted", 
                                                        "Other/Unknown Surface", 
                                                        "Stucco",
                                                        "Tree",
                                                        "Vinyl Siding",                        
                                                        "Wood - Painted", 
                                                        "Wood - Unpainted"],
                                                        @image.type_of_surface) %>
  </div>
  <br>
  <div>
    <%= label_tag :latitude %>
    <%= text_field_tag :latitude, @image.latitude %>
  </div>
  <br>
  <div>
    <%= label_tag :longitude %>
    <%= text_field_tag :longitude, @image.longitude %>
  </div>
  <br>
  <div>
    <%= label_tag :notes %>
    <%= text_field_tag :notes, nil, placeholder: "Notes" %>
  </div>
  <br>
  <% end %>
  <div>
    <%= submit_tag "Update the Info" %>
  </div>
<% end %>