
<% @images.each do |image| %>
  <h4> Graffiti Submission ID#: <%= link_to image.id, "/images/#{image.id}" %></h4>
  <h4>Description: <%= image.image %></h4>
  <h4>Location: <%= image.location %></h4>
  <h4>Status: <%= image.status %></h4>
  <h4>Gang Association: <% if image.assign_to_gang %> <%= image.assign_to_gang %> <% else %>Not Assigned<% end %></h4>
  <h4>-----------------------------------</h4>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
  
    <div id="map"></div>
    <script>
      function initMap() {
        var chicago = {lat: 41.8885, lng: -87.6354};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: chicago
        });
        var marker = new google.maps.Marker({
          position: chicago,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRpgQN5D9dI_8AnHd9QKFwMO5qKV1AUmk&callback=initMap">
    </script>
  </body>
</html>


