<% @images.each do |image| %>
  <h2> <%= link_to image.name, "/images/#{image.id}" %></h2>
  <a href="/images/<%= image.id %>"><img src="<%= image.image %>" alt="<%= image.name %>"></a>
  <h4>Status: <%= image.status %></h4>
  <h4>Notes: <%= image.notes %></h4>
<% end %>

<h5><%= link_to 'Create New', '/images/new' %></h5>