  <div id="calendar">
  <% @images.each do |image| %>
    <p> Graffiti Submission ID#: <%= link_to image.id, "/images/#{image.id}" %></p>
    <p>Image Here: <%= image.graffiti_image %></p>
    <p>Description: <%= image.image %></p>
    <p>Location: <%= image.location %></p>
    <p>Type of Surface: <% if image.type_of_surface %> <%= image.type_of_surface %> <% else %>Not Assigned <% end %></p>
    <p>Surface Location: <% if image.surface_location %> <%= image.surface_location %> <% else %>Not Assigned <% end %></p>
    <p>Status: <% if image.status %> <%= image.status %> <% else %>Not Assigned<% end %></p>
    <p>Gang Association: <% if image.assign_to_gang %> <%= image.assign_to_gang %> <% else %>Not Assigned<% end %></p>
    <p>Latitude: <%= image.latitude %></p>
    <p>Longitude: <%= image.longitude %></p>
    <p>Created At: <%= image.pretty_created_at %></p>
    <p>Updated At: <%= image.pretty_updated_at %></p>
    <p>------------------</p>
  <% end %>
  </div>

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Graffiti Grabber</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 50%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    
    <script>

      function initMap() {
        var merchmart = {lat: 41.8885, lng: -87.6354};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: merchmart,
          streetViewControl: false
          
        });
        map.setMapTypeId(google.maps.MapTypeId.HYBRID);

        var layer = new google.maps.FusionTablesLayer({
            query: {
              select: 'latitude',
              from: '1XHtoPNJomwLyGa3Ud2pbhDgf4u05GGe6JLwgoXsg'
            }
          });
          layer.setMap(map);


        // map.data.loadGeoJson('/convertcsv.js');


        // var contentString = '<div id="content">'+
        //     '<div id="siteNotice">'+
        //     '</div>'+
        //     '<h1 id="firstHeading" class="firstHeading">Merchandise Mart</h1>'+
        //     '<div id="bodyContent">'+
        //     '<p><b>Merchandise Mart</b> is in Chicago.</p>'+
        //     '<% @images.each do |image| %>'+
        //     '<h4>Location: <%= image.location %></h4>'+
        //     '<% end %>'+
        //     '</div>'+
        //     '</div>';

        // var infowindow = new google.maps.InfoWindow({
        //   content: contentString
        // });

        // var marker = new google.maps.Marker({
        //   position: merchmart,
        //   map: map          
        // });
        // marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')
        
        // marker.addListener('click', function() {
        //   infowindow.open(map, marker);
        // });
        
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRpgQN5D9dI_8AnHd9QKFwMO5qKV1AUmk&callback=initMap">
    </script>
  </body>
</html>