<h1>List of All Graffiti Grabber Submissions</h1>
<% if current_user %>
  <h2><%= link_to 'Submit A Graffiti Clean Up Request', '/images/new' %></h2>
<% else %>
  <h3>Sign up to submit graffiti cleanup requests!</h3>
<% end %> 
<br>

<h3>Filter by:</h3>
<ul>
  <li><a href="/images?sort=status">Status</a></li>
  <li><a href="/images?sort=assign_to_gang">Gang</a></li>
  <li><em>Location</em></li>
</ul>
<br>

<h3>Search:</h3>
<%= form_tag '/images', method: :get do %>
  <p><%= text_field_tag :search_term, nil, placeholder: "Search" %></p>
  <p><%= submit_tag 'Search' %></p>
<% end %>


<% @images.each do |image| %>
  <h4> Graffiti Submission ID#: <%= link_to image.id, "/images/#{image.id}" %></h4>
  <h4>Description: <%= image.image %></h4>
  <h4>Location: <%= image.location %></h4>
  <h4>Status: <%= image.status %></h4>
  <h4>Gang Association: <%= image.assign_to_gang %></h4>
  <h4>-----------------------------------</h4>
<% end %>

