<header><header style="background-image: url('https://c4.staticflickr.com/6/5731/30314281411_88d65f6da6_o.jpg')"></header>

<h1>List of All Graffiti Grabber Submissions</h1>
<% if current_user %>
  <h2><%= link_to 'Submit A Graffiti Clean Up Request', '/images/new' %></h2>
<% else %>
  <h3>Sign up to submit graffiti cleanup requests!</h3>
<% end %> 
<br>

<h3>Filter by:</h3>
<ul>
  <li><a href="/images?sort=status">Status</a></li>
  <li><a href="/images?sort=assign_to_gang">Gang</a></li>
  <li><em>Location</em></li>
</ul>
<br>

<h3>Search:</h3>
<%= form_tag '/images', method: :get do %>
  <p><%= text_field_tag :search_term, nil, placeholder: "Search Gang or Status" %></p>
  <p><%= submit_tag 'Search' %></p>
<% end %>


<% @images.each do |image| %>
  <h4> Graffiti Submission ID#: <%= link_to image.id, "/images/#{image.id}" %></h4>
  <h4>Description: <%= image.image %></h4>
  <h4>Location: <%= image.location %></h4>
  <h4>Status: <%= image.status %></h4>
  <h4>Gang Association: <% if image.assign_to_gang %> <%= image.assign_to_gang %> <% else %>Not Assigned<% end %></h4>
  <h4>-----------------------------------</h4>
<% end %>
<div id="mapid"></div>
<script>
  var mymap = L.map('mapid').setView([41.8885, -87.6354], 18); 
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.mapbox-streets-v7',
    accessToken: 'pk.eyJ1IjoiY2hpam95IiwiYSI6ImNpdWNvcjhtMTAwN2MyeW16Ymt5ZnAydjgifQ.BAA-nidezD_x8V1Cu4bLDg'
}).addTo(mymap); 
  var marker = L.marker([41.8885, -87.6354]).addTo(mymap);

  var popup = L.popup();

  var location = <%= @images %>;
    console.log(location);
  L.marker([41.8885, -87.6354]).addTo(mymap)

      .bindPopup("A pretty CSS3 popup.<br> ")
      .openPopup();

  mymap.on('click', onMapClick);

</script>




