
<% @images.each do |image| %>
  <h4> Graffiti Submission ID#: <%= link_to image.id, "/images/#{image.id}" %></h4>
  <h4>Description: <%= image.image %></h4>
  <h4>Location: <%= image.location %></h4>
  <h4>Type of Surface: <% if image.type_of_surface %> <%= image.type_of_surface %> <% else %>Not Assigned <% end %></h4>
  <h4>Surface Location: <% if image.surface_location %> <%= image.surface_location %> <% else %>Not Assigned <% end %></h4>
  <h4>Status: <% if image.status %> <%= image.status %> <% else %>Not Assigned<% end %></h4>
  <h4>Gang Association: <% if image.assign_to_gang %> <%= image.assign_to_gang %> <% else %>Not Assigned<% end %></h4>
  <h4>------------------</h4>
<% end %>


<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Graffiti Grabber</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="flag" hidden="true"><%= image_url('Graffiti_Grabber_Icon1.jpg') %></div>
    <script>

      function initMap() {
        var merchmart = {lat: 41.8885, lng: -87.6354};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: merchmart
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Merchandise Mart</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Merchandise Mart</b> is in Chicago.</p>'+
            '<% @images.each do |image| %>'+
            '<h4>Location: <%= image.location %></h4>'+
            '<% end %>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: merchmart,
          map: map,
          title: 'Merchandise Mart'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRpgQN5D9dI_8AnHd9QKFwMO5qKV1AUmk&callback=initMap">
    </script>
  </body>
</html>