<h1>Create A New Graffiti Grabber Request</h1>

<%= form_tag "/images", method: :post do %>
  <div>
    <%= label_tag :image, "Describe the graffiti: " %>
    <%= text_field_tag :image %>
  </div>
  <br>
  <div>
    <%= label_tag :location, "Where's the graffiti located? " %>
    <%= text_field_tag :location %>
  </div>
  <br>
  <div>
    <%= label_tag :type_of_surface, "What's the type of surface? " %>
    <%= select_tag :type_of_surface, options_for_select([
                                                        "please select", 
                                                        "aluminum siding",
                                                        "asphalt",
                                                        "brick - painted",
                                                        "brick - unpainted",
                                                        "cement(sidewalk, alley, wall, curb)",
                                                        "glass",
                                                        "limestone",
                                                        "marble/granite",
                                                        "metal",
                                                        "metal - painted",                   
                                                        "metal - unpainted", 
                                                        "other/unknown surface", 
                                                        "stucco",
                                                        "tree",
                                                        "vinyl siding",                        
                                                        "wood - painted", 
                                                        "wood - unpainted"]) %>
  </div>
  <br>
  <div>
    <%= label_tag :surface_location, "Where's the surface located? " %>
    <%= select_tag :surface_location, options_for_select([
                                                          "please select", 
                                                          "alley",
                                                          "bench",
                                                          "door",
                                                          "dumpster",
                                                          "expressway job",
                                                          "fence",
                                                          "front",
                                                          "garage",
                                                          "garbage cart",
                                                          "hydrant",
                                                          "mailbox",
                                                          "newspaper box",
                                                          "overpass",
                                                          "phone",
                                                          "pole",
                                                          "rear",
                                                          "side",
                                                          "sign",
                                                          "traffic control",
                                                          "viaduct"])%>
  </div>
  <br>
  <div>
    <%= submit_tag "Submit Graffiti" %>
  </div>
<% end %>