
<h2><%= link_to 'Home', '/images' %></h2>
<br>

<h2><%= @image.image %></h2>
<h4>Location: <%= @image.location %></h4>
<h4>Status: <%= @image.status %></h4>
<h4>Gang Association: <%= @image.assign_to_gang %></h4>
<h4>-----------------------------------</h4>
<br>
<% if current_user && (@image.user_id == current_user.id) %>
  <h3>  <%= link_to 'Edit', "/images/#{@image.id}/edit" %>  |  <%= link_to 'Delete', "/images/#{@image.id}", method: :delete %></h3>
<% end %> 
<div id="mapid"></div>
<script>
  var mymap = L.map('mapid').setView([41.8885, -87.6354], 18); 
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.mapbox-streets-v7',
    accessToken: 'pk.eyJ1IjoiY2hpam95IiwiYSI6ImNpdWNvcjhtMTAwN2MyeW16Ymt5ZnAydjgifQ.BAA-nidezD_x8V1Cu4bLDg'
}).addTo(mymap); 
  var marker = L.marker([41.8885, -87.6354]).addTo(mymap);

  var popup = L.popup();

  
  L.marker([41.8885, -87.6354]).addTo(map)
      .bindPopup('Merch Mart.<br> ')
      .openPopup();




</script>