
<h2><%= @image.image %></h2>
<h4>Location: <%= @image.location %></h4>
<h4>Status: <%= @image.status %></h4>
<h4>Gang Association: <%= @image.assign_to_gang %></h4>
<h4>-----------------------------------</h4>
<br>
<% if current_user && (@image.user_id == current_user.id) %>
  <h3>  <%= link_to 'Edit', "/images/#{@image.id}/edit" %>  |  <%= link_to 'Delete', "/images/#{@image.id}", method: :delete %></h3>
<% end %> 

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Joys icons</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      // The following example creates complex markers to indicate beaches near
      // Sydney, NSW, Australia. Note that the anchor is set to (0,32) to correspond
      // to the base of the flagpole.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 41.8885, lng: -87.6354}
        });

        setMarkers(map);
      }

      // Data for the markers consisting of a name, a LatLng and a zIndex for the
      // order in which these markers should display on top of each other.
      var places = [
        ['Merchandise Mart', 41.8885, -87.6354, 4],
        ['Water Tower Place', 41.8971, -87.6244, 5],
        ['Buckingham Fountain', 41.8758, -87.6189, 3],
        ['Art Institute', 41.8796, -87.6237, 2],
        ['Grant Park', 41.8828, 87.6189, 1]
      ];

      function setMarkers(map) {
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.
        var image = {
          'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          // file:///Users/joymccaffrey/Desktop/actualize_projects/capstone/app/assets/images/Graffiti_Grabber_Icon.jpg
          // https://c4.staticflickr.com/6/5614/29806076203_9f6d96a9cb_o.jpg
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(20, 32),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(0, 32)
        };
        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        var shape = {
          coords: [1, 1, 1, 20, 18, 20, 18, 1],
          type: 'poly'
        };
        for (var i = 0; i < places.length; i++) {
          var place = places[i];
          var marker = new google.maps.Marker({
            position: {lat: place[1], lng: place[2]},
            map: map,
            icon: image,
            shape: shape,
            title: place[0],
            zIndex: place[3]
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRpgQN5D9dI_8AnHd9QKFwMO5qKV1AUmk&callback=initMap">
    </script>
  </body>
</html>


