<h1>Individual Contact</h1>

<p>Full Name: <%= @contact.full_name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone Number: <%= @contact.phone_number %></p>
<br>
<p> Updated On: <%= @contact.friendly_updated_at %></p>

<p><%= link_to 'Edit', "/contacts/#{@contact.id}/edit" %></p>
<p><%= link_to 'Delete', "/contacts/#{@contact.id}", method: :delete %></p>