<h1><%= @addresses.address %> -created<h1>
<h4>Type: <%= @addresses.type %></h4>
<h4>Location: <%= @addresses.location %></h4>
<h4>Landmark: <%= @addresses.landmark %></h4>
<h4>Nearby addresses: <%= @addresses.nearby_addresses %></h4>