<h4>Address: <%= address.address %></h4>
<h4>Type: <%= address.type %></h4>
<h4>Location: <%= address.location %></h4>
<h4>Landmark: <%= address.landmark %></h4>
<h4>Nearby addresses: <%= address.nearby_addresses %></h4>